<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!-- meta_header読み込み -->
<head th:replace="common :: meta_header('ITEM',~{::link},~{::script})"></head>
<body>

	<!-- header読み込み -->
	<header th:replace="common :: header"></header>

	<!-- メイン -->

	<!--/* ("check" , 0 < cart.cartItems().size) */-->

	<main th:unless="${check}">
		<div>
			<h2>カートに商品はありません。</h2>
		</div>
	</main>

	<main th:if="${check}">
		<div class="maincol">

			<table class="table">
				<thead>
					<tr>
						<th class="name-space" scope="col">商品</th>
						<th class="quantity-space" scope="col">個数</th>
						<th class="price-space" scope="col">小計</th>
						<th class="button-space" scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cart : ${session.cart.cartItems}" th:object="${cart}">
						<td>[[*{value.name}]]</td>
						<td>[[*{value.quantity}]]</td>
						<td>[[*{value.quantity} * *{value.price}]]</td>
						<td></td>
					</tr>
					<tr class="total">
						<td>合計</td>
						<td></td>
						<td th:object="${session.cart}">[[*{grandTotal}]]</td>
						<td>
							<p>↓から購入</p>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="shipping">

				<div class="_shipping_title">
					<h2>配送先様の情報をご確認ください。</h2>
				</div>

				<div class="shipping_info" th:object="${checkout}">

					<p><strong>配送先様：</strong><span
						th:text="*{shippingFirstName} + *{shippingLastName}">配送先様</span></p>
					<p><strong>郵便番号：</strong><span th:text="*{shippingZipcode}">郵便番号</span></p>
					<p><strong>住所：</strong><span
						th:text="*{shippingMainAddress}">mainAddress</span>
						<span th:if="*{shippingBuildingAddress != null}"
						th:text="*{shippingBuildingAddress}">buildingAddress</span></p>
					<p><strong>電話番号：</strong><span th:text="*{shippingTell}">電話番号</span></p>

				</div>

			</div>

			<div class="charge_form">
				<form th:action="@{/charge}" method='POST' id='checkout-form'>

					<!--/* ここから決済処理 */-->
					<input type='hidden' th:value='${amount}' name='amount' /><br>

					<!--/* NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf */-->
					<!--*/ ※th:attr = 属性はカンマ区切りで複数の式をとることができます /*-->
					<script src='https://checkout.stripe.com/checkout.js'
						class='stripe-button'
						th:attr='data-key=${stripePublicKey},
							data-amount=${amount},
							data-currency=${currency}'
						data-name='お支払い' data-description='テスト'
						data-billingAddress='true'
						data-shippingAddress='false'
						data-image='http://www.baeldung.com/uploads/android-chrome-192x192.png'
						data-locale='auto' data-zip-code='false'>

					</script>
				</form>
			</div>

		</div>
	</main>
	<!-- メイン終了 -->
	<!-- footer読み込み -->
	<footer th:replace="common :: footer"></footer>
</body>
</html>