<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${pageTitle}">タイトル名</title>
</head>
<body>

	<h2 th:text="${pageTitle}">タイトル名</h2>

	<table class="table" th:object="${trProductEntity}">

		<tr>
			<th scope="row">商品ID</th>
			<td th:text="*{productId}">商品ID</td>
		</tr>

		<tr>
			<th scope="row">商品名</th>
			<td th:text="*{productName}">商品名</td>
		</tr>

		<tr>
			<th scope="row">商品単価</th>
			<td th:text="*{productPrice}">商品単価</td>
		</tr>

		<tr>
			<th scope="row">商品カテゴリー</th>
			<td th:text="${categoryName}">商品カテゴリーID</td>
		</tr>

		<tr>
			<th scope="row">商品在庫</th>
			<td th:text="*{productStock}">商品在庫</td>
		</tr>

		<tr>
			<th scope="row">商品説明文</th>
			<td th:text="*{productComment}">商品説明文</td>
		</tr>

		<tr>
			<th scope="row">商品写真ファイル名1</th>
			<td><img th:src="@{ '/image/' + *{productPhotoFileName1} }" /></td>
		</tr>

		<tr>
			<th scope="row">商品写真ファイル名2</th>
			<td><img th:src="@{ '/image/' + *{productPhotoFileName2} }" /></td>
		</tr>

		<tr>
			<th scope="row">商品写真ファイル名3</th>
			<td><img th:src="@{ '/image/' + *{productPhotoFileName2} }" /></td>
		</tr>

		<tr>
			<th scope="row">商品の表示状態</th>
			<td th:if="*{productShowFlag == 0}">表示</td>
			<td th:if="*{productShowFlag != 0}">非表示</td>
		</tr>

	</table>

	<br>

	<form th:action="|@{'/admin' + ${urlComponent} + '/result'}|" method="POST"
		th:if="${buttonName != null}">
		<div th:object="${flag}">
			<div class="tweetExcecute" th:if="*{tweetExcecute}">
				<label for="tweetExcecute"> <strong>Tweet</strong></label> <br>
				<input th:field="*{tweetExcecute}" type="radio" name="tweetExcecute"
					id="tweetExcecute0" th:value="true" /> する <input
					th:field="*{tweetExcecute}" type="radio" name="tweetExcecute"
					id="tweetExcecute1" th:value="false" /> しない <br> <br>
			</div>
		</div>
		<button type="submit" th:text="${buttonName}">ボタン名</button>
	</form>

</body>
</html>