<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>販売履歴一覧</title>
<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
</head>
<body>

	<h2>販売履歴一覧</h2>

	<div class="search">

		<div class="search_keyword">
			<form action="/admin/history/search" method="GET"
				class="search_container">
				<input name="keyword" type="text" size="25" placeholder="キーワードで探す">
				<input type="submit" value="&#xf002; 検索">
			</form>
		</div>

		<div class="search_date">
			<form action="/admin/history/search/date" method="GET">
				<p>検索開始日:<input type="date" class="date_search_start" id="start" name="start"
					min="2020-01-01" max="9999-12-31" value="" />
				<p>検索終了日:<input type="date"
					class="date_search_end" id="start" name="end" min="2020-01-01"
					max="9999-12-31" value="" />
				<input type="submit" value="&#xf002; 検索">
			</form>
		</div>

	</div>

	<table>

		<thead>
			<tr>
				<th>販売履歴ID</th>
				<th>購入者</th>
				<th>郵便番号</th>
				<th>住所</th>
				<th>メール</th>
				<th>電話番号</th>
				<th>購入日</th>
				<th>ステータス</th>
				<th>詳細</th>
			</tr>
		</thead>

		<tbody th:each=" trSalesHistoryEntity : ${trSalesHistoryEntity} "
			th:object="${trSalesHistoryEntity}">
			<tr>
				<td th:text="*{salesHistoryId}">販売履歴ID</td>
				<td th:text="*{customerName}">購入者</td>
				<td th:text="*{customerZipcode}">郵便番号</td>
				<td th:text="*{customerAddress}">住所</td>
				<td th:text="*{customerEmail}">メール</td>
				<td th:text="*{customerTell}">電話番号</td>
				<td th:text="*{getFormatSalesDate()}">購入日</td>
				<td th:text="*{settlementFlag}">決済状態</td>
				<td><button
						th:onclick="|location.href='@{'/admin/history/'+ *{salesHistoryId} }'|">詳細</button></td>
			</tr>
		</tbody>

	</table>

</body>
</html>