<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${pageTitle}">タイトル名</title>
</head>
<body>

	<div th:if="${customer != null && shipping == null}">

		<h3>購入者情報を変更しますか？</h3>

		<table class="table" th:object="${customer}">

			<tr>
				<th scope="row">名前</th>
				<td th:text="*{name}" /></td>
			</tr>

			<tr>
				<th scope="row">郵便番号</th>
				<td th:text="*{zipcode}" /></td>
			</tr>

			<tr>
				<th scope="row">住所</th>
				<td th:text="*{address}" /></td>
			</tr>

			<tr>
				<th scope="row">メール</th>
				<td th:text="*{email}" /></td>
			</tr>

			<tr>
				<th scope="row">電話番号</th>
				<td th:text="*{tell}" /></td>
			</tr>

		</table>

		<div th:object="${trSalesHistoryEntity}">
			<span>
				<button
					th:onclick="|location.href='@{'/admin/history/' + *{salesHistoryId} + '/change/customer/result'}'|">変更</button>
				<button th:onclick="|location.href='@{'/admin'}'|">管理者画面に戻る</button>
			</span>
		</div>

	</div>

	<div th:if="${shipping != null}">

		<input type="hidden" th:object="${customer}" />
		<h3>配送先情報を変更しますか？</h3>

		<table class="table" th:object="${shipping}">

			<tr>
				<th scope="row">名前</th>
				<td th:text="*{name}" /></td>
			</tr>

			<tr>
				<th scope="row">郵便番号</th>
				<td th:text="*{zipcode}" /></td>
			</tr>

			<tr>
				<th scope="row">住所</th>
				<td th:text="*{address}" /></td>
			</tr>

			<tr>
				<th scope="row">メール</th>
				<td th:text="*{email}" /></td>
			</tr>

			<tr>
				<th scope="row">電話番号</th>
				<td th:text="*{tell}" /></td>
			</tr>

		</table>

		<div th:object="${trSalesHistoryEntity}">
			<span>
				<button
					th:onclick="|location.href='@{'/admin/history/' + *{salesHistoryId} + '/change/shipping/result'}'|">変更</button>
				<button th:onclick="|location.href='@{'/admin'}'|">管理者画面に戻る</button>
			</span>
		</div>

	</div>

	<div th:if="${changeShippingStatus}" th:object="${trSalesProductHistoryEntity}">

		<h3>配送ステータスを変更しますか？</h3>

		<table>

			<tr>
				<th scope="row">販売商品履歴ID</th>
				<td th:text="*{salesProductHistoryId}">商品ID</td>
			</tr>

		</table>

		<div>
			<span>
				<button
					th:onclick="|location.href='@{'/admin/history/product/' + *{salesProductHistoryId} + '/change/shipping/result'}'|">変更</button>
				<button th:onclick="|location.href='@{'/admin'}'|">管理者画面に戻る</button>
			</span>
		</div>

	</div>

</body>
</html>